# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# Django
media/
staticfiles/

# SQLite (we're using PostgreSQL)
db.sqlite3

# Migrations cache
**/__pycache__/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python tooling
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Tailwind / Node (for later)
node_modules/
dist/
